@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Roboto:wght@700&display=swap"); /* TODO: Keep? */

svg.interactive {
  background-color: #000;
}

svg.artistic {
  background-color: #fff;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

#controls {
  display: flex;
  justify-content: space-between;
  width: 50%;
  min-width: 600px;
}

.point {
  opacity: .7;
  transition: .5s;
  cursor: move;
}

.point:hover {
  opacity: 1;
  fill: #0A32E7;
}


* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: "Roboto", sans-serif;
}

#number-selection {
  display: flex;
  align-items: center;
  justify-content: center;
}

#range-slider {
  position: relative;
  width: 400px;
}

#slider-input {
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 3;
  transform: translateY(-50%);
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  opacity: 0;
  margin: 0;
}

#slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0;
}

#slider-input::-moz-range-thumb {
  width: 14vmin;
  height: 14vmin;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0;
}

#slider-thumb {
  width: 2rem;
  height: 2rem;
  border: 3px solid #303030;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
  color: #303030;
  z-index: 2;
}

#slider-line {
  height: .25rem;
  width: 100%;
  background-color: #e1e1e1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  position: absolute;
  z-index: 1;
}

#slider-line-fill {
  position: absolute;
  height: .25rem;
  width: 0;
  background-color: #303030;
}