@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Roboto:wght@500&display=swap");

// Colours
$dark-primary: #121212;
$light-primary: #f4f4f4;

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;

  &.artistic {
    background-color: $light-primary;
  }

  &.interactive {
    background-color: $dark-primary;
  }
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

#controls {
  display: flex;
  justify-content: space-between;
  width: 50%;
  min-width: 600px;
  padding: 1rem;
}

// SVG Point
.point {
  opacity: .7;
  transition: .5s;
  cursor: move;
  fill: #fff;

  &:hover {
    opacity: 1;
    fill: #FF8B00;
  }
}

// Range Slider
#number-selection {
  display: flex;
  align-items: center;
  justify-content: center;
}

#range-slider {
  position: relative;
  width: 400px;
}

#slider-input {
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 3;
  transform: translateY(-50%);
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}

#slider-thumb {
  width: 2.25rem;
  height: 2.25rem;
  border: 3px solid #eee;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: $dark-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
  color: $light-primary;
  z-index: 2;
  user-select: none;
}

#slider-line {
  height: .25rem;
  width: 100%;
  background-color: #888;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  position: absolute;
  z-index: 1;
}

#slider-line-fill {
  position: absolute;
  height: .25rem;
  width: 0;
  background-color: $light-primary;
}

// Buttons










/* TODO: replace with https://codepen.io/alexdevio/pen/zXPwOx ??? */
/* Question: Combined with this? https://codepen.io/popc0rn/pen/ApxjzV */
button.material {
  text-transform: uppercase;
  color: #fff;
  padding: 0.5rem 0;
  letter-spacing: 1px;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: 600;
  width: 125px;
}

button.material.red {
  background-color: crimson;
}

button.material.blue {
  background-color: darkcyan;
}

button.material.green {
  background-color: forestgreen;
}